{% extends 'padrao.html' %}

{% block conteudo %}
    <form method="post" action='/adicionar' enctype="multipart/form-data">
        <fieldset> 

            {{ form.csrf_token() }}

            <div class='mb-3'>
                <label for='arquivo' class='form-label'>Selecione a imagem capa do album</label>
                <input type="file" name="arquivo" accept=".jpg, .jpeg, .png" id='arquivo' class='form-control'>
            </div>

            <div class='mb-3'>
                {{ form.nome.label(class="form-label")}}
                {{ form.nome(class="form-control")}}
            </div>

            <div class='mb-3'>
                {{ form.grupo.label(class="form-label")}}
                {{ form.grupo(class="form-control")}}
            </div>

            <div class='mb-3'>
                {{ form.genero.label(class="form-label")}}
                {{ form.genero(class="form-control")}}
            </div>

            <div class='mb-3'>
                {{ form.cadastrar(class="btn btn-primary")}}
            </div>

        </fieldset>
    </form>
{% endblock %}