{% extends 'padrao.html' %}

{% block conteudo %}
    <form method="post" action='{{ url_for('atualizar')}}'>
        <fieldset> 

            <input type='hidden' name='txtId' value = {{ musica.id_musica }}>

            <div class='mb-3'>
                <label for='txtNome'>Nome da Musica:</label>
                <input type="text" name="txtNome" id='txtNome' class='form-control' value="{{ musica.nome_musica }}">
            </div>

            <div class='mb-3'>
                <label for='txtCantor'>Cantor / Grupo / Banda:</label>
                <input type="text" name="txtCantor" id='txtCantor' class='form-control' value= "{{ musica.cantor_banda}}">
            </div>

            <div class='mb-3'>
                <label for='txtGenero'>Genero:</label>
                <input type="text" name="txtGenero" id='txtGenero' class='form-control' value="{{ musica.genero_musica}}">
            </div>

            <div class='mb-3'>
                <button type="submit" class='btn btn-primary'>Salva</button>
            </div>

        </fieldset>
    </form>
{% endblock %}