{% extends 'padrao.html' %}

{%  block conteudo %}
    <table class='table table-hover'>
        <thead class='table-light'> 
            <tr>
                <th>Musica</th>
                <th>Cantor / Grupo / Banda</th>
                <th>Genero</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody> 
            {% for music in musicas %}
            <tr>
                <td> {{ music.nome_musica}}</td>
                <td> {{ music.cantor_banda}} </td>
                <td>{{ music.genero_musica }} </td>
                <td>
                    <a href="{{ url_for('editar', id= music.id_musica)}}">Editar</a>
                    <a href="{{ url_for('excluir', id = music.id_musica)}}"> Excluir </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
{% endblock %}