<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel='stylesheet' href='{{ url_for('static', filename='bootstrap.css' )}}'>
</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="list-unstyled" id="message">
        {% for message in messages %}
        <li class="alert alert-danger">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <div class="container">
        <form method='post' action='/autenticar'>
            <fieldset>

                {{ form.csrf_token() }}
                <div class='mb-3'>
                    {{ form.usuario.label(class="form-label")}}
                    {{ form.usuario(class="form-control")}}
                </div>

                <div class='mb-3'>
                    {{ form.senha.label(class="form-label")}}
                    {{ form.senha(class="form-control")}}
                </div>

                <div class='mb-3'>
                    {{ form.logar(class="btn btn-primary")}}
                </div>

            </fieldset>
        </form>
    </div>
</body>

</html>